
body {
    margin: 0 auto;
    width: 960px;
}

.header{
	height: 60px;
}

#navigation
{
	display: block;
    height: 30px;
    margin: 0 auto;
    width: 470px;
}
	#navigation ul
	{	
		margin:0px; 
		padding:0px;
	}
		#navigation ul li
		{
			display:inline; 
			float:left; 
			height:30px;
			line-height:30px;
			list-style:none; 
			margin-left:15px; 
			position:relative; 
		}
			#navigation li a
			{
				color:black; 
				text-decoration:none;
			}
			#navigation li a:hover
			{
				text-decoration:underline;
			}
			
			#navigation li ul
			{
				display:none; 
				left:0px; 
				margin:0px; 
				padding:0px; 
				position:absolute; 
				top:30px; 
			}
			#navigation li:hover ul
			{
				display:block; 
				width:160px;
			}
			
				#navigation li li
				{	
					list-style:none; 
					display:list-item;
				}
					
					#navigation li li a
					{
						color:black; 
						text-decoration:none;
					}
					#navigation li li a:hover
					{
						text-decoration:underline;
					}

.header img.logo{
	float: left;
}


.container img {
    display: block;
    margin: 0 auto;
}

.container .infoContainer .leftContainer, .container .infoContainer .rightContainer  {
    float: left;
    margin: 10px;
    width: 45%;
}


.footer {
    display: block;
    margin: 0 auto;
    width: 170px;
}